* {
    box-sizing: border-box;
    margin: 0;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0px;
    padding: 25px 0;
}

h1 {
    font-family: "DM Sans", sans-serif;
    font-size: 36px;
    font-weight: 700;
    color: #D04F4F;
}

main {
    width: 80%;
    margin: auto;
}

/* BARRE DE RECHERCHE */
.searchBar {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 3%;
}

#searchBar-input {
    width: 100%;
    height: 4.3em;
    background: #f5f5f5;
    outline: none;
    border: none;
    border-radius: 5px;
    padding: 0 3.5rem 0 1.5rem;
    font-size: 1rem;
}

#searchBar-input:focus {
    border: 1px solid rgb(151, 225, 151);
}

#searchBar-btn {
    height: 4.3em;
    margin-left: -3.5rem;
    background: none;
    border: none;
    outline: none;
  }

#searchBar-btn:hover {
    cursor: pointer;
}

/* LISTBOXS TAGS */
.tags {
    display: flex;
    align-items: center;
    padding: 5px 10px;
    border-radius: 5px;
    color: white;
}

#listboxs {
    display: flex;
    gap: 20px;
}

#listboxs button {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 15px;
    border: 0;
    border-radius: 5px;
    font-weight: bold;
    margin-right: 15px;
    min-width: 170px;
    max-width: max-content;
    color: white;
}

#listboxs button[data-tag-type="ingredients"], .tag[data-tag-type="ingredients"] {
    background-color: #3282F7;
}

#listboxs button[data-tag-type="appliance"], .tag[data-tag-type="appliance"]{
    background-color: #68D9A4;
}

#listboxs button[data-tag-type="ustensils"], .tag[data-tag-type="ustensils"]{
    background-color: #ED6454;
}

#listboxs button input {
    display: none;
    width: 50%;
     color: white;
    border: 0;
    background-color: transparent;
}

#listboxs button span {
    font-family: 'Lato', sans-serif;
    font-size: 1em;
    font-weight: 700;
}