* {
    box-sizing: border-box;
    margin: 0;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0px;
    padding: 25px 0;
}

h1 {
    font-family: "DM Sans", sans-serif;
    font-size: 36px;
    font-weight: 700;
    color: #D04F4F;
}

main {
    width: 80%;
    margin: auto;
}

/* BARRE DE RECHERCHE */
.searchBar {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#searchBar-input {
    font-family: 'Lato', sans-serif;
    width: 100%;
    height: 4.3em;
    background: #f5f5f5;
    outline: none;
    border: none;
    border-radius: 5px;
    padding: 0 3.5rem 0 1.5rem;
    font-size: 1rem;
}

#searchBar-input:focus {
    border: 1px solid rgb(151, 225, 151);
}

#searchBar-btn {
    height: 4.3em;
    margin-left: -3.5rem;
    background: none;
    border: none;
    outline: none;
  }

#searchBar-btn:hover {
    cursor: pointer;
}

/* LISTBOXS TAGS */
.tags {
    display: flex;
    align-items: center;
    padding: 5px 10px;
    border-radius: 5px;
    color: white;
}

#listboxs {
    display: flex;
    gap: 20px;
}

#listboxs button {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 15px;
    border: 0;
    border-radius: 5px;
    font-weight: bold;
    margin-right: 15px;
    min-width: 170px;
    max-width: max-content;
    color: white;
}

#listboxs button[data-tag-type="ingredients"], .tag[data-tag-type="ingredients"] {
    background-color: #3282F7;
}

#listboxs button[data-tag-type="appliance"], .tag[data-tag-type="appliance"]{
    background-color: #68D9A4;
}

#listboxs button[data-tag-type="ustensils"], .tag[data-tag-type="ustensils"]{
    background-color: #ED6454;
}

#listboxs button input {
    display: none;
    width: 50%;
     color: white;
    border: 0;
    background-color: transparent;
}

#listboxs button span {
    font-family: 'Lato', sans-serif;
    font-size: 1em;
    font-weight: 700;
}



/* CARD RECETTE */
#cards-container {
    margin: 40px auto;
    width: 100%;
    max-width: 1240px;
    display: grid;
    column-gap: 2rem;
    row-gap: 2rem;
    grid-template-columns: repeat(auto-fill, minmax(min(20rem, 100%), 1fr));
}

.card {
    height: 380px;
    min-width: 300px;
    background: #E7E7E7;
    border-radius: 0.5rem;
    cursor: pointer;
}

.card-img {
    height: 178px;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    overflow: hidden;
    
    /* TEST AJOUT IMG */
    background-image: url('/assets/card-test.jpg');
}

.card-img img {
    display: block;
    max-width: 100%;
    object-fit: cover;
    min-width: 500px;
    min-height: 175px;
}

.card-body {
    padding: 20px;
    margin: 0;
}

.card-header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.card-title {
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    font-size: 1.1rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.card-time {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-time img {
    height: 1.2rem;
    width: 1.2rem;
}

.card-time p {
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    font-size: 1rem;
    margin-left: .5rem;
}

.card-main {
    display: flex;
    margin-top: 1.5rem;
    column-gap: 10px;
}

.card-ingredientsList {
    width: 50%;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.card-ingredient {
    font-family: 'Lato', sans-serif;
    font-size: .8rem;
    line-height: 1.3rem;
    
    display: flex;
    flex-wrap: wrap;
}

.card-ingredient p {
    font-weight: bold;
    padding-right: 5px;
}
.card-ingredient span {
    font-weight: normal;
}

.card-description {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: .8rem;
    line-height: 1.3rem;
    width: 50%;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
}