* {
    box-sizing: border-box;
    margin: 0;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0px;
    padding: 25px 0;
}

h1 {
    font-family: "DM Sans", sans-serif;
    font-size: 36px;
    font-weight: 700;
    color: #D04F4F;
}